


.nav{
    margin: 20px auto;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    width: max-content;
    background-color: gray;
    padding: 15px;
    border-radius: 40px;
    a{
        text-transform: uppercase;
        text-decoration: none;
        background-color: white;
        color: black;
        padding: 10px;
        border-radius: 40px;
    }
}

.header{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}